@use 'colors' as *;
@use 'function' as *;
@use 'mixin' as *;
@use 'vars' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Yu Gothic', YuGothic, sans-serif;
  font-weight: 700;
  line-height: 1.6;
}

body.mounted {
  font-family: 'Yu Gothic', YuGothic, 'Yu Gothic FF', sans-serif; // Will applied font-face after mount.
}

a {
  text-decoration: none;
}